body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
.cf{zoom:1;}
.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
body{font:normal 14px/1.5 Tahoma,Helvetica,arial,sans-serif;}
a{color:#FF4E00;text-decoration:none;}
a:hover{text-decoration:underline;}
span.money{font-family:Helvetica,arial,sans-serif;}
span.required{color:red;}
.f-input, input.date, input.number{font-size:14px;padding:3px 4px;border-color:#ff932c;border-style:solid;border-width:1px;}
.h-input, input.date, input.number{font-size:12px;padding:2px 3px;border-color:#ff932c;border-style:solid;border-width:1px;}
.f-text{font-size:14px;padding:3px 4px;border-color:#ff932c;border-style:solid;border-width:1px;}
.f-textarea{font-size:14px;padding:3px 4px;border-color:#7c7c7c #c3c3c3 #ddd;border-style:solid;border-width:1px;}
.f-select{font-size:14px;padding:3px 0 3px 4px;border-color:#ff932c;border-style:solid;border-width:1px;}
input.formbutton{padding:4px 1em;*padding:5px 1.5em 0;border:2px solid;border-color:#fccb9d #e87a11 #e87a11 #fccb9d;background:#ff932c;color:#fff;letter-spacing:.1em;cursor:pointer;*width:auto;_width:0;*overflow:visible;}
input.disabled{border:1px solid #ccc;background:#eee;color:#999;cursor:default;}
button.formbutton{height:23px;padding:0 1.5em;border:1px solid;border-color:#82D0D4 #92D6D9 #54A3A7 #4D989B;background:#63C5C8;color:#fff;letter-spacing:.3em;cursor:pointer;line-height:23px;}
dd.formbutton:focus{border-color:#000;}

.paginator{padding:10px 0 10px;white-space:nowrap;text-align:right;font-size:12px;}
.paginator li{display:inline;margin:0 1px;*vertical-align:middle;}
.paginator li.current{*height:24px;margin:0 6px;font-weight:bold;*line-height:24px;}
.paginator li a{*display:inline-block;*height:22px;padding:3px 6px 4px;*padding:0 6px;border:1px solid #bbb;text-decoration:none;*line-height:22px;*position:relative;}
.paginator li a:hover{*height:24px;padding:4px 7px 5px;*padding:0 7px;border:none;*line-height:24px;background:#00ADB2;color:#fff;text-decoration:none;}
.paginator li a.nolink{color:#ccc;cursor:default;}
.paginator li a.nolink:hover{background:transparent;*height:22px;padding:3px 6px 4px;*padding:0 6px;border:1px solid #ccc;*line-height:22px;}

/* sysmsg */
.sysmsgw{clear:both;padding:8px 0 10px 37px;color:#000;font-size:14px;}
.sysmsg{position:relative;width:930px;margin:auto;padding-left:30px;}
.sysmsg .close{position:absolute;top:0;right:20px;padding-right:16px;background:url(i/bg-sysmsg-close.gif) 100% 50% no-repeat;font-size:12px;cursor:pointer;}
#sysmsg-error{border:1px solid #d01e5e;background:#ffdcd7;color:#d01e5e;}
#sysmsg-success{border-top:2px solid #690;border-bottom:2px solid #690;background:#EDFEDA;color:#690;}
#sysmsg-error .sysmsg{background:url(i/bg-sysmsg-error.gif) no-repeat 0 0;}
#sysmsg-success .sysmsg{background:url(i/bg-sysmsg-success.gif) no-repeat 0 0;}
#sysmsg-tip{position:relative;top:-15px;left:8px;width:948px;font-size:14px;}
#sysmsg-tip .sysmsg-tip-top{background:url(i/bg-sysmsg-tip.gif) no-repeat 0 0;height:12px;overflow:hidden;}
#sysmsg-tip .sysmsg-tip-content{background:#FCECAD;padding:0 30px 0 30px;border-left:1px solid #ff942b;border-right:1px solid #ff942b;}
#sysmsg-tip .sysmsg-tip-bottom{background:url(i/bg-sysmsg-tip.gif) no-repeat 0 -13px;height:12px;overflow:hidden;font-size:12px;}
#sysmsg-tip .sysmsg-tip-close{display:none;position:absolute;top:12px;right:20px;padding-right:16px;background:url(i/bg-sysmsg-close.gif) 100% 50% no-repeat;font-size:12px;color:#699701;cursor:pointer;}
#sysmsg-tip .deal-close{position:relative;z-index:1;}
#sysmsg-tip .deal-close .focus{position:absolute;z-index:2;top:-12px;left:-31px;width:163px;height:60px;padding:12px 35px;background:url(i/bg-sysmsg-tip-focus.gif) no-repeat 0 0;font-weight:bold;}
#sysmsg-tip .deal-close .body{height:30px;padding-left:220px;}
#sysmsg-tip .deal-close .subscribe-succ{display:block;padding-top:5px;}
#sysmsg-tip .deal-close td{line-height:1;*line-height:1.2;vertical-align:middle;padding-top:1px;}
#sysmsg-tip .deal-close .f-text{width:216px;color:#333;}
#sysmsg-tip .deal-close .commit{width:51px;height:28px;background:url(i/button-subscribe-b.gif) no-repeat 0 0;text-indent:-999em;border:none;}
.sysmsg-tip-deal-close{margin-bottom:15px;}
#sysmsg-guide{position:relative;z-index:1;zoom:1;top:-10px;left:0;margin:0 0 10px 8px;dpadding-top:25px;width:951px;height:156px;background:url(i/bg-newbie-guide.gif) no-repeat 0 0;}
#sysmsg-guide .link{padding-top:25px;}
#sysmsg-guide .link a{display:block;width:950px;height:110px;}
#sysmsg-guide .close{display:block;position:absolute;top:2px;*top:1px;_top:2px;right:14px;height:20px;line-height:20px;*padding-top:2px;_padding-top:0;padding-right:20px;background:url(i/bg-newbie-close.gif) no-repeat center right;font-size:12px;color:#666;}
/* end sysmsg */

body{background:#F9D299 url(i/bg-bd.jpg) no-repeat 50% 150px;}
body.bg-alt{background:#F9D299 url(i/bg-deal.jpg) no-repeat 50% 150px;}
body.newbie{background-position:50% 326px;}
#hdw{height:157px;background:url(i/bg-hd.gif) repeat-x 0 0;}
#bdw{min-height:500px;_height:500px;}
#ftw{background:url(i/bg-ft.gif) repeat-x 0 0;height:345px;}
#hd{position:relative;z-index:2;width:960px;margin:0 auto;}
#hd .subscribe{position:absolute;top:35px;right:0px;width:275px;}
#hd .search{position:absolute;top:45px;right:40px;width:275px;}
#hd .subscribe .text{display:block;padding:0 0 5px 5px;color:#999;font-size:12px;}
#hd .subscribe .f-text{float:left;width:179px;padding-left:4px;color:#999;font-size:12px;border:1px solid #999;}
#hd .subscribe .commit{float:left;width:67px;height:25px;margin-left:15px;background:url(i/button-header-subscribe.gif) no-repeat 0 0;border:1px solid #fff;border-width:0;text-indent:-999em;cursor:pointer;}
#hd .nav{position:absolute;top:115px;left:0;padding-left:8px;}
#hd .vcoupon{position:absolute;top:0;right:0;width:300px;height:23px;padding:4px 20px 0;background:#515151;text-align:center;color:#FF4E00;font-size:12px;}
#hd .vcoupon a{color:#FF4E00;}
#hd .logins{position:absolute;top:115px;right:0;width:350px;dbackground:red;}
#hd .nav li{float:left;}
#hd .nav li.current a{background:#33c5c8; color:#FFF;text-decoration:none;}
#hd .nav a{float:left;height:42px;line-height:42px;color:#fff;padding:0 18px;font-size:16px;font-weight:bold;}
#hd .nav a:hover {background-color:#FF4E00;color:#F7B262;text-decoration:none;}
#hd .nav .today{padding:0 22px 0 23px;}
#hd .logins ul{float:right;}
#hd .logins li{float:left;}
#hd .logins .refer{float:right;width:160px;height:42px;font-size:12px;}
#hd .logins .refer a{display:block;margin-top:0;width:130px;height:42px;line-height:42px;padding-left:20px;color:#FFF;background:url(i/icon-gift.gif) no-repeat 0 14px;*background-position:0 13px;_background-position:0 14px;}
#hd .logins .line{float:right;background:url(i/bg-logins-line.gif) no-repeat 0 50%;width:115px;height:42px;}
#hd .logins .islogin{width:2px;}
#hd .logins .links a{display:block;height:42px;line-height:42px;color:#fff;font-size:14px;}
#hd .logins .username{height:42px;line-height:42px;padding:0 1px 0 20px;text-align:center;font-family:Helvetica,arial,sans-serif;color:#333;}
#hd .logins .account{width:86px;text-align:center;}
#hd .logins .account a{outline:0;}
#hd .logins .logout,#hd .logins .login,#hd .logins .signup{width:56px;text-align:center;}
#hd .logins .links a:hover,#hd .logins a.hover{background:#FF4E00;color:#F7B262;text-decoration:none;font-weight:bold;}
#nav{position:relative;}
#nav ul{font-size:16px;font-weight:bold;}
#logo{padding-top:23px;padding-left:37px;}
#hd .guides{position:absolute;left:354px;top:54px;z-index:2;}
#hd .city{float:left;width:73px;height:25px;line-height:25px;background:url(i/bg-guides-city.gif) no-repeat 0 0;}
#hd .city h2{text-align:center;color:#fff;}
#hd .change{float:left;width:80px;padding:3px 8px;*padding-top:5px;_padding-top:3px;color:#fff;font-size:12px;cursor:pointer;}
#hd .city-list{display:none;clear:both;float:left;width:345px;margin-top:5px;padding:10px 10px;background:#515151;}
#hd .city-list ul{float:left;padding-bottom:5px;}
#hd .city-list li{float:left;width:80px;margin-bottom:5px;margin-left:5px;dborder:1px dashed #666;}
#hd .city-list li a{display:block;padding:2px 5px;text-align:center;color:#fff;}
#hd .city-list li a:hover{background:#666;color:#399;}
#hd .city-list li.current a{background:#666;color:#f1f1f1;}
#hd .city-list li.current a:hover{color:#399;}
#hd .city-list .other{clear:both;border-top:1px dashed #666;padding-top:5px;font-size:12px;zoom:1;}
#hd .city-list .other a{float:right;width:60px;padding:2px 5px;color:#399;}
#hd .city-list .other a:hover{background:#666;color:#399;;text-decoration:none;}
#myaccount-menu{display:none;position:absolute;right:56px;top:157px;padding:8px 0 8px;dborder:1px solid #76a045;border-top:0;font-weight:normal;font-size:14px;background-color:#FF4E00;}
#myaccount-menu li{width:150px;padding:5px 0;border-bottom:1px dashed #47abad;}
#myaccount-menu li a{display:block;padding-left:20px;color:#F7B262;}
#myaccount-menu li a:hover {color:#0981be;text-decoration:none;}
#ft{width:960px;margin:0 auto;}
#ft .contact{height:58px;line-height:58px;font-weight:bold;text-align:right;}
#ft .contact a{color:#fff;}
#ft ul{background:#222;}
#ft ul,#ft ul a,#ft .copyright{color:#666;}
#ft li.col{float:left;display:inline;width:110px;height:130px;padding:20px 0 0 50px;border-right:1px dashed #373536;}
#ft li.end{border:none;padding-left:70px;}
#ft h3{font-size:14px;color:#666;}
#ft .sub-list{margin-top:5px;font-size:12px;}
#ft .sub-list li{list-style-position:inside;list-style-type:disc;line-height:20px;}
#ft .logo-footer{padding-top:10px;}
#ft .copyright p{color:#6f6f6f;padding:3px 0;text-align:center;font-size:12px;}
#miibeian{color:#ddd;}
dd#bd{position:relative;z-index:1;width:960px;margin:0 auto;padding:30px 0 65px;}
#bd{position:relative;z-index:1;width:960px;margin:30px auto 65px;}

#content{float:left;width:702px;_display:inline;margin-left:8px;margin-right:16px;padding:0;}
#content.mainwide{float:left;width:944px;_display:inline;margin-left:8px;margin-right:16px;padding:0;}


.box-top{background:url(i/bg-box-702.gif) no-repeat 0 0;height:20px;overflow:hidden;}
.box-content{background:#fff;border-left:2px solid #EE9270;border-right:2px solid #EE9270;}
.box-bottom{background:url(i/bg-box-702.gif) no-repeat 0 -21px;height:20px;overflow:hidden;}
.mainwide .box-top{background:url(i/bg-box-944.gif) no-repeat 0 0;}
.mainwide .box-bottom{background:url(i/bg-box-944.gif) no-repeat 0 -21px;}

.box-split .box-top{background:url(i/bg-box-split-702.gif) no-repeat 0 0;}
.box-split .box-content{background:url(i/bg-box-split-702b.gif) repeat-y 0 0;border:none;}
.box-split .box-bottom{background:url(i/bg-box-split-702.gif) no-repeat 0 -21px;}

.sbox{width:230px; margin:0px; }
.sbox-top{background:url(i/bg-sbox-230.gif) no-repeat 0 0;height:13px;overflow:hidden;}
.sbox-content{background:#FFF9EF;border-left:2px solid #FABE63;border-right:2px solid #FABE63;}
.sbox-bottom{background:url(i/bg-sbox-230.gif) no-repeat 0 -14px;height:13px;}
.sbox-white{width:230px;}
.sbox-white .sbox-top{background:url(i/bg-sbox-230-white.gif) no-repeat 0 0;height:12px;overflow:hidden;}
.sbox-white .sbox-content{background:#fff;border:none;}
.sbox-white .sbox-bottom{background:url(i/bg-sbox-230-white.gif) no-repeat 0 -13px;height:12px;}
.clear{clear:both;}
.dashboard{position:relative;bottom:-2px;z-index:2;_display:inline;margin-left:24px;zoom:1;}
.dashboard ul{float:left;_display:inline;}
.dashboard li{float:left;_display:inline;margin-right:4px;font-size:14px;}
.dashboard li a{float:left;height:27px;padding:7px 7px 0 17px;background:url(i/bg-dashboard-tab.gif) no-repeat 0 -200px;outline:0;}
.dashboard li span{float:left;width:10px;height:34px;background:url(i/bg-dashboard-tab.gif) no-repeat -161px -300px;}
.dashboard li.current a{background-position:0 0;}
.dashboard li.current span{background-position:-161px -100px;}

.coupons-table{margin:10px 10px 30px;}
.coupons-table td,.coupons-table th{padding:10px;border:1px solid #fff;}
.coupons-table td{background:#fff;}
.coupons-table .last{white-space:nowrap;}
.coupons-table .last form{text-align:center;}
.coupons-table .last form p{margin-top:4px;}
.coupons-table .last .f-input{width:90px;float:none;margin-bottom:4px;}
.coupons-table .alt td{background:#f1f1f1;}
.coupons-table a.deal-title{color:#626061;}
.coupons-table a.deal-title:hover{color:#626061;}
.coupons-table .op{font-size:14px; color:gray;}
.coupons-table td.author {font-size:12px; color:gray;}

#dialog .coupons-table td, #dialog .coupons-table th{padding:2px;}

.sendsms-failure{color:#c00;}
/* content */
.deals-table{margin:10px 10px 30px;}
.deals-table td,.deals-table th{padding:10px;border:1px solid #fff;}
.deals-table th{text-align:right;vertical-align:top;}
.bizs-table th{text-align:right;vertical-align:top;}
#content .head{padding:0 10px 10px;}
#content .head h2{display:inline;padding-left:10px;font-size:2em;}
#content .head .headtip{margin-left:20px;font-size:16px;font-weight:bold;}
#content div.success{height:60px;padding-left:255px;padding-top:50px;background:url(i/bg-pay-return-success.gif) no-repeat 145px 25px;}
#content div.error{height:60px;padding-left:232px;padding-top:38px;background:url(i/bg-pay-return-error.gif) no-repeat 145px 25px;}
#content div.success h2,#content div.error h2{font-size:28px;font-family:'黑体',helvetica,arial,sans-serif;}
#content .title{padding:0 10px;}
#content .title h3{display:inline;padding-left:10px;font-size:1.5em;}
#content .sect{width:678px;padding:20px 10px 50px;border-top:1px solid #def;}
#content.mainwide .sect{width:920px;padding:20px 10px 50px;border-top:1px solid #def;}
#content .field{clear:left;float:left;*float:none;_display:inline;width:650px;padding:0 10px 2px;margin:5px auto 10px;}
#content.mainwide .field{clear:left;float:left;*float:none;_display:inline;width:892px;padding:0 10px 2px;margin:5px auto 10px;}
#content .field label{float:left;padding-right:20px;width:90px;height:30px;line-height:30px;font-size:14px;text-align:right;color:#333;}
#content .field .f-input{float:left;width:320px;margin:3px 0 0;}
#content.mainwide .field .f-input{float:left;width:480px;margin:3px 0 0;}
.field input.number{float:left;width:88px;margin:3px 15px 0 0;}
.field input.date{float:left;width:80px;margin:3px 15px 0 0;}
#content #deal-buy-box .f-input{width:240px;}
#content .field .f-textarea{float:left;width:320px;height:120px;margin:3px 0 0;}
#content.mainwide .field .f-textarea{float:left;width:480px;height:120px;margin:3px 0 0;}

#forum #content .field .f-input{width:480px;}
#forum #content .field .f-textarea{width:480px; height:120px; }
#forum #content .avatar {}
#forum #content div.author {background-color:#EAEAEA;padding:2px 5px; }
#forum #content .topic-content {padding:10px 5px;}
#forum #content .topic-reply .topic-content {}
#forum .consult-form{padding:35px 55px 15px;width:auto;}
#forum .consult-form .commit{margin-top:10px;}
#forum .consult-form .f-textarea{width:480px;height:100px;}
#forum .consult-form .succ{display:none;padding:10px 0;}

#content .field .f-check{float:left;margin-top:3px;*margin-top:0;}
#content .readonly{color:#666;background:#f1f1f1;}
#content .hint{clear:left;float:left;width:320px;margin-left:110px;font-size:12px;color:#989898;}
#content.mainwide .hint{clear:left;float:left;width:560px;margin-left:110px;font-size:12px;color:#989898;}
#content .act{clear:left;padding:0 10px 0;margin-left:110px;}
#content .act .button{width:158px;height:33px;padding-left:0;cursor:pointer;}
#content .notice-title{font-size:16px;}
#content .notice{padding:10px;}
#content .notice-special{margin:10px;padding:10px;border:1px dashed #ccc;background:#f1f1f1;}
#content .wholetip h3{padding:8px 18px;font-size:16px;}
#content .inputtip{float:left;margin-left:10px;margin-top:5px;font-size:12px;color:#666;}
#content .city_list a{ margin-right: 12px; }

#content .head{position:relative;}
#content .filter{position:absolute;top:25px;right:10px;}
#content .filter li{float:left;margin:0 5px 0 0;font-size:12px;}
#content .filter a{padding:3px 1px;}
#content .filter .current a{padding:3px 7px;background:#00ADB2;color:#fff;-moz-border-radius:2px;-webkit-border-radius:2px;}
/* signup */
#signup .f-input-tip{float:left;margin-left:10px;margin-top:5px;font-size:12px;color:#666;}
#signup .email .f-input{font-weight:bold;}
#signup .username .f-input{font-weight:bold;}
#signup .city{margin-bottom:0;}
#signup .f-city{float:left;margin-top:4px;color:#333;}
#signup .field .f-cityname{width:100px;color:#333;}
#signup .enter-city{float:left;margin-top:3px;*margin-top:0;margin-left:15px;color:#333;}
#signup .subscribe{width:200px;margin-left:110px;*margin-left:107px;padding-bottom:0;margin-top:5px;}
#signup .subscribe label{width:150px;margin-top:0;*margin-top:2px;height:20px;line-height:20px;font-size:12px;text-align:left;padding-left:3px;}
#signup .act{margin-top:10px;*margin-top:0;}
#signuped .sect{width:auto;padding:50px 50px 50px;}
#signuped .notice-content{padding:5px 0;color:#666;}
#signuped .help-tip{margin-top:25px;background:#f7f7f7;padding:20px 30px 20px 25px;font-size:12px;}
#signuped .help-list{margin:10px 0 0;}
#signuped .help-list li{margin-bottom:5px;list-style-position:inside;list-style-type:disc;color:#666;}
.signup-gotoverify{margin-top:15px;text-align:center;}
#verify .sect{width:auto;padding:50px 50px 50px;}
#verify .notice-content{padding:5px 0;color:#666;}

#login .email .f-input{font-weight:bold;}
#login .autologin{width:200px;margin-left:110px;padding-bottom:0;margin-top:0;}
#login .autologin label{margin-top:0;*margin-top:2px;height:20px;line-height:20px;font-size:12px;text-align:left;padding-left:3px;}
#login .lostpassword{float:left;margin-left:10px;margin-top:5px;font-size:12px;}

#coupons .head{position:relative;}
#coupons .filter{position:absolute;top:25px;right:10px;}
#coupons .filter li{float:left;margin:0 5px 0 0;font-size:12px;}
#coupons .filter a{padding:3px 1px;}
#coupons .filter .current a{padding:3px 7px;background:#00ADB2;color:#fff;-moz-border-radius:2px;-webkit-border-radius:2px;}
#coupons .delivery-text{color:#808080;}
#coupons .sbox{margin-top:34px;}
#coupons .invalid{color:#ddd;}

#credit .sect{padding:15px 20px 40px;width:auto;}
#credit .credit-title{padding-bottom:12px;border-bottom:1px solid #f1f1f1;}
#credit .credit-title strong{font-size:24px;color:#c33;}
#credit p.charge{background:#fffbcc;border:1px solid #ffec19;margin:0 0 10px;padding:10px;}
#credit p.charge span{color:#399;}
#credit p.charge a{text-decoration:underline;}
#credit .coupons-table{margin:1px 0 0;width:100%;}
#credit .coupons-table th,#credit .coupons-table td{border:none;}
#credit .coupons-table .income{color:#b2302d;}
#credit .coupons-table .expense{color:#469800;}
#credit .coupons-table a{color:#666;}
#credit .paginator{margin-top:20px;}
#credit .notice{padding:10px 0;}
#credit .rail{margin-top:34px;}
#credit .credit-card-box{margin-top:20px;}
#credit .credit-card{padding:4px 10px 4px 15px;}
#credit .credit-card .f-input{display:block;width:185px;}
#credit .credit-card .act{margin-top:10px;}
#credit .credit-card-notice{padding:5px 0 5px;color:red;}
#credit .credit-card-link{background:url(i/blue_arrow.gif) no-repeat 0 5px;padding-left:12px;}
#credit .credit-card .captcha{display:none;margin-top:10px;}
#credit .credit-card .captcha img{display:block;margin-top:5px;}
#credit .credit-card .show{display:block;}

#biz .autologin{margin-left:110px;padding-bottom:0;margin-top:0;}
#biz .autologin label{margin:0;height:20px;line-height:20px;font-size:12px;text-align:left;padding-left:5px;}
#biz .field .coupon-code{clear:left;float:left;width:500px;font-size:25px;height:30px;padding:10px;}
#biz .verify{margin-left:0;}
#biz .verify .formbutton{padding:.5em 1.5em;margin-right:10px;}
#biz .verify-noti{margin:30px 10px 0;}
#biz .verify-noti dt{margin:20px 0 5px;font-size:16px;font-weight:bold;}
#biz .edit-password th{font-weight:normal;text-align:right;}
#mis .f-textarea{width:430px;height:200px;}
#mis .f-input{width:430px;}
#feedback .notice{margin:0px 10px 10px;}
#feedback .f-textarea{width:430px;}
#feedback .f-input{width:430px;}

#about .sect h3{margin:20px 0 10px;padding-left:10px;font-size:1.2em;}
#about .sect h4{margin:25px 0 10px;padding-left:10px;font-size:1em;}
#about .sect p{margin:10px;line-height:1.5em;}
#about .sect ol.list{margin:10px 20px;}
#about .sect ol.list li{list-style-position:inside;list-style-type:decimal;}
#about .sect ul.list{margin:10px 20px;}
#about .about .sect{padding:10px 10px;}
#about .about ul.list{margin:5px 10px 30px 30px;}
#about .about dl{margin-top:20px;margin-left:10px;}
#about .about dt{font-weight:bold;}
#about .about h3.contact{padding:8px 18px;background:#E8F9FF;font-size:16px;}
#about .about dl.contact{margin-left:18px;}

#about .job .caption{margin:0 20px;}
#about .job .faith{margin:10px 10px 30px;padding-left:21px;*padding-left:21px;}
#about .job .joinus{padding-left:21px;*padding-left:23px;}
#about .job .job-title{padding:3px 30px;background:#E8F9FF url(i/bg-toggle-fold.gif) no-repeat 10px -89px;cursor:pointer;zoom:1;}
#about .job .fold{background-position:10px -89px;}
#about .job .unfold{background-position:10px 11px;;}
#about .job .job-desc{display:block;}
#about .job .job-desc p{margin-left:30px;margin-bottom:0;}
#about .job .job-desc p.continue{margin-bottom:20px;}
#about .job .job-desc ul{margin:5px 20px 0 45px;*margin-left:47px;}
#about .job .job-desc ol{margin:5px 20px 20px 50px;*margin-left:53px;}
#about .job .job-desc ul li{list-style-position:outside;list-style-type:disc;}
#about .job .job-desc ol li{list-style-position:outside;list-style-type:decimal;}
#about .job .job-desc h4{font-size:16px;}
#about .job .job-desc h5{margin-left:30px;}

#learn .intro{margin:0 10px;}
#learn .step{margin:10px 10px 20px;}
#learn .first{margin-top:0;}
#learn .guide{padding:20px 30px;width:auto;}
#learn .guide-steps{color:#666;}
#learn .guide-steps li{position:relative;z-index:1;}
#learn .guide-steps h3{width:370px;height:38px;margin-top:50px;background:url(i/bg-learn-guide-titles.gif) no-repeat 0 0;text-indent:-999em;}
#learn .guide-steps h3.step1{margin-top:0;}
#learn .guide-steps h3.step2{background-position:0 -200px;}
#learn .guide-steps h3.step3{background-position:0 -400px;}
#learn .guide-steps h3.step4{background-position:0 -600px;}
#learn .guide-steps .text{width:290px;padding-left:50px;margin-top:5px;}
#learn .guide-steps .text img{display:block;margin-top:10px;}
#learn .bubble{position:absolute;top:0;left:370px;}
#learn .bubble-top{width:237px;padding:20px 10px 20px 28px;background:url(i/bg-learn-guide-bubble.gif) no-repeat 0 0;}
#learn .bubble-bottom{width:275px;height:12px;zoom:1;overflow:hidden;background:url(i/bg-learn-guide-bubble.gif) no-repeat 0 -588px;}
#learn .bubble li{list-style-position:inside;list-style-type:decimal;}
#learn .bubble ol.buy li{margin-bottom:25px;}
#learn .bubble ol.buy li.last{margin-bottom:0;}
#learn .bubble ol.coupon li{margin-top:5px;}
#learn .bubble ol.coupon p{font-size:12px;padding-left:20px;}
#learn .bubble ol.coupon p img{display:block;margin-top:12px;margin-left:-18px;}
#help .sect{padding-top:16px;}
#help .sect h3{margin:20px 0 10px;padding-left:10px;font-size:1.2em;}
#help .sect h4{margin:25px 0 5px;padding-left:10px;font-size:1em;}
#help .sect h4.first{margin:0;}
#help .sect p{margin:5px 10px;line-height:1.5em;}

#help .faq .sect{padding:16px 10px 10px;width:auto;}
#help .faq .faqlist li{margin-bottom:12px;padding:10px;list-style-position:inside;list-style-type:decimal;}
#help .faq .faqlist li.alt{background:#f6f6f6;}
#help .faq .faqlist h4{display:inline;color:#333;}
#help .faq .faqlist p{margin:8px 20px 0;*margin-left:16px;line-height:1.5em;color:#666;}
#help .faq .paytype p{padding-top:10px;*padding-top:15px;padding-left:140px;}
#help .faq .paytype .alipay{height:39px;background:url(i/alipay.gif) no-repeat 0 2px;}
#help .faq .paytype .yeepay{height:33px;background:url(i/yeepay.gif) no-repeat 0 2px;}
#help .faq .paytype .chinabank{height:35px;background:url(i/chinabank.gif) no-repeat 0 3px;*background-position:0 5px;}
#help .faq .paytype .tenpay{height:35px;background:url(i/tenpay.jpg) no-repeat 0 3px;*background-position:0 5px;}
@media screen and(-webkit-min-device-pixel-ratio:0){#help .faq .faqlist p{margin-left:17px;}
}

/* sidebar */
#sidebar{float:left;width:234px;_display:inline;}
#sidebar h2{font-size:1.2em;padding-bottom:8px;}
#sidebar .credit{padding:10px;}
#sidebar .side-tip{padding:10px 10px 10px 15px;}
#sidebar .side-tip h3{margin:15px 0 5px;}
#sidebar .side-tip h3.first{margin-top:0;}
#sidebar .side-tip p{margin:5px 0 10px;}
#sidebar .side-invite-tip .tip{padding:4px 15px;}
#sidebar .side-invite-tip h2{padding-top:0;padding-bottom:5px;}
#sidebar .side-invite-tip p{line-height:1.5;}
#sidebar .side-invite-tip .text{padding-left:50px;height:39px;padding-top:7px;line-height:18px;background:url(i/bg-deal-default-icons.gif) no-repeat 0 0;color:#333;}
#sidebar .side-invite-tip .link{margin-top:8px;}
#sidebar .side-invite-tip strong{color:#c33;}
#sidebar .side-invite-tip a{font-weight:bold;font-size:12px;}

#sidebar .side-vote-tip{margin-top:20px;}
#sidebar .side-vote-tip .tip{padding:4px 13px;}
#sidebar .side-vote-tip h2{padding-top:0;padding-bottom:10px;}
#sidebar .side-vote-tip .text{padding-left:55px;line-height:18px;background:url(i/bg-deal-default-icons.gif) no-repeat 0 -94px;color:#333;}
#sidebar .side-vote-tip .text .mark{margin-bottom:2px;}
#sidebar .side-vote-tip .link{margin-top:12px;text-align:center;}
#sidebar .side-vote-tip .link a{font-weight:bold;font-size:12px;}
#side-business ul{margin-top:7px;}
#side-business li{margin:0 0 3px 0;}
#side-business li.address{margin-bottom:10px;}

#sidebar .side-others .tip{padding:4px 15px;}
#sidebar .side-others h2{padding-top:0;padding-bottom:5px;}
#sidebar .side-others p{line-height:1.5;}
#sidebar .side-others strong{color:#c33;}
#sidebar .side-others a{font-weight:bold;font-size:12px;}
#sidebar .side-business .tip{padding:4px 12px;}
#sidebar .side-business h2{padding-top:0;padding-bottom:5px;}
#sidebar .side-business p{line-height:1.5;}

#sidebar .side-business-tip{margin-bottom:15px;}
#sidebar .side-business-tip .tip{padding:4px 13px;}
#sidebar .side-business-tip h2{padding-top:0;padding-bottom:10px;}
#sidebar .side-business-tip .text{height:35px;padding:3px 0 0 55px;*padding-top:3px;line-height:18px;background:url(i/bg-deal-default-icons.gif?v=3) no-repeat 0 -200px;color:#333;}

#sidebar .deal-consult h2{font-size:16px;zoom:1;}
#sidebar .cardcode{padding:10px;}
#sidebar .cardcode .f-input{display:block;width:195px;}
#sidebar .cardcode .formbutton{display:block;margin-top:5px;}
#sidebar .cardcode .act{display:none;}
#sidebar #cardcode-link{background:url(i/blue_arrow.gif) no-repeat 0 5px;padding-left:12px;}

#login .side-tip h2,#signup .side-tip h2{padding-bottom:0;}
#login .side-tip p,#signup .side-tip p{margin-top:10px;}
#maillist .side-business .tip{padding:4px 15px;}
#maillist .side-business h2{padding-top:0;padding-bottom:5px;}
#maillist .side-business p{line-height:1.5;}
#help .side-tip-help{padding:10px 12px 1px;}
#help .side-tip-help img{display:block;}
#help .side-tip-help span{display:block;margin:5px 0 15px;padding-left:10px;}

#sidebar .sbox { margin-top:0px; margin-bottom:15px; }

/* deal */
#deal-share .deal-share-fix{float:left;width:10px;height:30px;background:url(i/bg-share-corner.gif) no-repeat 100% -50px;}
#deal-share .deal-share-top{float:left;_display:inline;margin-left:24px;background:url(i/bg-share-corner.gif) no-repeat 0 0;}
#deal-share .deal-share-links{float:left;width:453px;height:23px;padding:7px 0 0 20px;}
#deal-share .deal-share-links h4{float:left;font-weight:normal;}
#deal-share .deal-share-links ul{zoom:1;}
#deal-share .deal-share-links li{float:left;margin-top:2px;margin-left:3px;}
#deal-share a{float:left;dwidth:30px;height:16px;line-height:16px;*line-height:18px;padding-left:20px;background:url(i/icons-share.gif) no-repeat 0 0;margin-right:10px;color:#000;font-size:12px;font-family:Helvetica,arial,sans-serif;outline:0;}
#deal-share a:hover{color:#0981be;}
#deal-share a img{margin-right:2px;vertical-align:-2px;}
#deal-share .kaixin{background-position:0 -40px;}
#deal-share .renren{background-position:0 -80px;}
#deal-share .douban{background-position:0 -120px;}
#deal-share .email{background-position:0 -161px;}
#deal-share .sina{background-position:0 -201px;}
#deal-share-im-c{display:none;clear:both;width:483px;margin-left:24px;}
#deal-share-im-c .deal-share-im-b{height:50px;padding:10px 10px 10px 20px;border-left:1px solid #eebc70;border-right:1px solid #eebc70;background-color:#fff1e5;}
#deal-share-im-c .f-input{width:345px;*width:320;}
#deal-share-im-c .formbutton{display:none;display:inline;}
#deal-intro{clear:both;padding:25px 14px 15px;border:2px solid #EE9270;background:#fff;}
#deal-intro .main{float:left;width:215px;margin-right:15px;_margin-right:10px;_display:inline;font-family:Helvetica,arial,sans-serif;}
#deal-intro .side{float:left;width:440px;margin-right:0;}
#deal-intro .side .deal-buy-cover-img img{width:440px;}
#deal-intro .side .digest{margin-top:28px;margin-left:10px;padding-left:70px;padding-right:35px;background:url(i/bg-deal-voice-quote.gif) no-repeat 0 0;color:#666;}
#deal-intro h1{padding:0 50px 20px;font-size:30px;line-height:1.2;font-family:'黑体',arial,sans-serif;}
#deal-intro h1 span{font-family:arial,sans-serif;}
#deal-intro .deal-buy{position:relative;}
#deal-intro .deal-today-link{text-decoration:none;}
#deal-intro .deal-price-tag{position:absolute;z-index:1;left:-72px;width:237px;height:97px;padding-left:50px;background:url(i/bg-deal-price.png) no-repeat 0 0;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/css/i/bg-deal-price.png');}
#deal-intro .deal-price{position:absolute;z-index:2;left:-72px;width:237px;height:97px;line-height:82px;padding-left:50px;}
#deal-intro .deal-price span{position:absolute;z-index:2;top:0;left:146px;color:#fff;}
#deal-intro .deal-price span.deal-price-expire,#deal-intro .deal-price span.deal-price-soldout{padding-left:10px;width:140px;background:url(i/bg-deal-close-text.gif) no-repeat 0 16px;color:#666;}
#deal-intro .deal-price span.deal-price-expire{width:140px;height:84px;background:url(i/bg-deal-expired-text.gif) no-repeat 6px 17px;}
#deal-intro .deal-price span.deal-price-soldout{width:140px;height:84px;background:url(i/bg-deal-soldout-text.gif) no-repeat 6px 17px;}
#deal-intro .deal-price strong{float:left;margin-left:5px;font-size:32px;color:#fff;font-weight:normal;}
#deal-intro .deal-price span a{display:block;width:144px;height:53px;line-height:53px;margin-top:19px;outline:0;}
#deal-intro .progress-pointer{float:left;zoom:1;padding:3px 0;}
#deal-intro .progress-pointer span{float:left;width:14px;height:13px;background:url(i/bg-progress-pointer.gif) no-repeat 0 0;}
#deal-intro .progress-bar{float:left;height:17px;padding:0 2px;width:198px;background:url(i/bg-progress-bottom.gif) no-repeat left top;}
#deal-intro .progress-left,#deal-intro .progress-right{float:left;height:9px;margin-top:3px;*margin-top:3px;background:url(i/bg-progress-top-l.gif) no-repeat left top;}
#deal-intro .progress-left{margin-left:2px;_margin-left:1px;}
#deal-intro .progress-right{width:6px;background-image:url(i/bg-progress-top-r.gif);}
#deal-intro .hide{display:none;}
#deal-intro .min{clear:both;float:left;font-weight:bold;}
#deal-intro .max{float:right;font-weight:bold;}

.deal-consult{clear:both;position:relative;font-size:12px;}
.deal-consult .sbox-bubble{position:absolute;top:37px;left:-17px;width:19px;height:30px;background:url(i/bg-sbox-bubble.gif) no-repeat 0 0;}
.deal-consult .nav{padding:0;color:#399;}
.deal-consult-tip{padding:3px 15px 8px;}
.deal-consult-tip .noconsult{margin:12px 0;color:#60605E;}
.deal-consult-tip .list{color:#626061;zoom:1;}
.deal-consult-tip .list a{color:#626061;}
.deal-consult-tip .list li{padding:5px 0;border-bottom:1px dashed #cdccca;}
.deal-consult-tip .list .last{border:none;}
.deal-consult-tip .custom-service{margin-top:12px;padding:15px 15px 12px;text-align:center;background:#fff;zoom:1;}
.deal-consult-tip .custom-service .time{font-size:12px;}
.deal-subscribe{margin-top:0px;width:230px;}
.deal-subscribe .top{height:76px;background:url(i/bg-deal-subscribe-t.gif) no-repeat 0 0;}
.deal-subscribe .body{padding:10px;background:#FFF9EF;}
.deal-subscribe .bottom{height:12px;background:url(i/bg-deal-subscribe-b.gif) no-repeat 0 0;}
.deal-subscribe .text{margin-top:10px;padding-right:50px;background:url(i/bg-deal-subscribe-m.gif) no-repeat right center;font-size:12px;color:#999;}
.deal-subscribe .address{width:100%;}
.deal-subscribe .address td{vertical-align:top;}
.deal-subscribe .f-text{width:147px;color:#999;font-size:12px;}
.deal-discount{width:100%;margin-top:77px;border:1px solid #EE9270;background:#fdf7df;font-weight:bold;}
.deal-discount th,.deal-discount td{padding:0 10px;text-align:center;}
.deal-discount th{padding-top:20px;font-size:12px;font-weight:normal;}
.deal-discount td{padding-bottom:10px;font-size:16px;}
.deal-box{margin-top:12px;border:1px solid #EE9270;background:#fdf7df;padding:8px;}
.deal-timeleft{padding-left:20px;padding-right:64px;background-image:url(i/bg-deal-open.gif);background-position:90% 50%;background-repeat:no-repeat;color:#333;}
.deal-timeleft h3{font-size:14px;font-weight:normal;}
.deal-timeleft li{font-weight:bold;}
.deal-timeleft li span{float:left;width:22px;font-weight:bold;margin-right:4px;text-align:right;*margin-top:-1px;padding-right:2px;*padding-right:0;}
.deal-off{background-image:url(i/bg-deal-end.gif);}
.deal-status{padding:15px 8px;text-align:center;}
.deal-available-tip{clear:both;font-size:12px;color:#333;}

.deal-buy-tip-top{line-height:1.2;margin-bottom:5px;font-size:18px;font-weight:bold;}
.deal-buy-tip-total{margin-top:10px;line-height:1.2;font-size:18px;font-weight:bold;}
.deal-buy-tip-notice{font-size:12px;}
.deal-buy-ended{margin:5px 0 12px;color:#333;font-size:12px;}
.deal-buy-on{margin-bottom:5px;font-size:16px;font-weight:bold;}
.deal-buy-on img{position:relative;left:-9px;top:9px;}
.deal-buy-tip-btm{font-size:12px;}

.deal-buy-soldout{height:89px;background:url(i/bg-sold-out.gif) no-repeat 50% 0;}
.deal-buy-success{height:89px;background:url(i/bg-deal-expired-success.gif) no-repeat 50% 0;}
.deal-buy-failure{height:89px;background:url(i/bg-deal-expired-fail.gif) no-repeat 50% 0;}

#deal-stuff .deal-price strong{float:left;color:#fff;font-size:250%;}
#deal-stuff{position:relative;margin-top:22px;}
#deal-stuff .main,#deal-stuff .side{float:left;padding:6px 23px;}
#deal-stuff .main{width:413px;}
#deal-stuff .side{width:195px;}
#deal-stuff h2{font-size:16px;}
#deal-stuff .main .blk{margin:7px 0 30px;}
#deal-stuff .main .blk p{margin:10px 0 15px;}
#deal-stuff .main .detail p{margin:5px 0;}
#deal-stuff .main .detail p img{display:block; margin:5px auto;}
#deal-stuff .deal-detail-intro{margin-bottom:30px;}
#deal-stuff .deal-detail-intro h2{margin:0;font-size:16px;}
#deal-stuff .deal-detail-intro ul{margin-top:5px;}
#deal-stuff .deal-detail-intro li{list-style-position:inside;list-style-type:disc;line-height:1.6;}
#deal-stuff .main ul.list{margin:10px 0 15px;padding-left:15px;}
#deal-stuff .main ul.list li{list-style-position:outside;list-style-type:disc;margin-bottom:5px;}
#deal-stuff .main ol.list{margin:10px 0 15px;padding-left:18px;*padding-left:23px;}
#deal-stuff .main ol.list li{list-style-position:outside;list-style-type:decimal;margin-bottom:5px;}
#deal-stuff .main dt{font-weight:bold;margin:10px 0 2px;}
#deal-stuff .review ul li{background:url(i/quote.gif) no-repeat 0 2px;margin-bottom:10px;padding:0 0 0 20px;}
#deal-stuff .review ul span{display:block;text-align:right;}
#deal-stuff .go-top{position:absolute;z-index:1;zoom:1;left:737px;bottom:0;width:50px;font-size:12px;}
#deal-stuff .go-top a{color:#32989a;}
#deal-stuff .go-top a:hover{text-decoration:none;}
#deal-stuff .go-top .top-arrow{padding-right:3px;}
#deal-business{border:2px solid #76a045;background:#ddedcc;padding:8px;}
#deal-buy{margin-bottom:16px;padding-bottom:14px;}
#deal-buy .form-submit{margin:10px 16px;}
#deal-buy table{width:100%;}
#deal-buy h3.mobile{margin-top:20px;padding:0 0 4px 16px;}
#deal-buy p.mobile{margin:0;padding-left:16px;}
#deal-buy p.mobile label{padding-left:5px;}
#deal-buy .sect{width:auto;padding:20px 20px 20px;}
#deal-buy .input-text{width:50px;margin-bottom:3px;font-size:140%;text-align:center;}
#deal-buy .order-table th,#deal-buy .order-table td{padding:10px 16px;text-align:center;}
#deal-buy .order-table th{background:#eff8ff;padding-top:10px;padding-bottom:10px;white-space:nowrap;}
#deal-buy .order-table td{border-bottom:1px solid #EFF8FF;}
#deal-buy .order-table .deal-buy-desc{width:auto;padding-left:16px;text-align:left;}
#deal-buy .deal-buy-quantity{width:80px;}
#deal-buy .deal-buy-multi{width:15px;}
#deal-buy .deal-buy-price{width:50px;}
#deal-buy .deal-buy-equal{width:15px;}
#deal-buy .order-table .deal-buy-total{width:80px;padding-right:12px;text-align:right;}
#deal-buy .order-table .order-total td{border:none;color:#c33;}
#deal-buy td.deal-buy-total{font-size:20px;}
#deal-buy .order-total .deal-buy-total{font-weight:bold;}
#deal-buy h3.address{padding:10px 0 10px 16px;background:#EFF8FF;color:#333;}
#deal-buy h3.address span{font-weight:normal;}
#deal-buy h3.delivery{margin-top:0;padding:12px 0 4px 16px;}
#deal-buy p.address{margin:10px 0 5px;padding-left:16px;}
#deal-buy .address-table{margin:5px 0 5px;}
#deal-buy .address-table th{width:95px;vertical-align:top;padding:5px 0;font-weight:normal;text-align:right;}
#deal-buy .address-table td{padding:5px;width:480px;}
#deal-buy .address-table .blk-error{display:none;width:440px;border:1px solid #f60;height:25px;line-height:25px;margin:5px 0 0;padding-left:28px;padding-right:10px;background:#fff2e9 url(i/bg-sys-icons.gif) no-repeat 5px 5px;}
#deal-buy .address-list{margin-left:30px;}
#deal-buy .address-zipcode{width:100px;}
#deal-buy .address-detail{width:470px;}
#deal-buy .address-name{width:120px;}
#deal-buy .address-phone{width:120px;}
#deal-buy .address-list li{line-height:2;}
#deal-buy .address-list .selected{background:#ffc;}
#deal-buy .address-list label{padding-left:10px;}
#deal-buy .delivery-type{margin-left:30px;}
#deal-buy .delivery-type li{line-height:2;}
#deal-buy .delivery-type label{padding-left:10px;}
#deal-buy .delivery-comment{padding-left:30px;}
#deal-buy-update{font-size:12px;}
#deal-buy-box h2 span{margin-left:10px;font-size:14px;font-weight:normal;}
#deal-buy-form-signup{margin-top:10px;}
#deal-buy-login{position:absolute;top:110px;*top:100px;right:20px;width:240px;padding:12px;background-color:#EFF8FF;}
#deal-buy-login p{margin:10px 0;}
#deal-buy-login-form p span{display:inline-block;width:45px;padding-right:10px;text-align:right;}
#deal-buy-login .f-input{width:160px;}
#deal-buy-login-tip strong{padding:3px 15px;border:1px solid;border-color:#82D0D4 #92D6D9 #54A3A7 #4D989B;background:#63C5C8;color:#fff;cursor:pointer;font-size:14px;font-weight:normal;}
#content #deal-buy-login-form .act{margin-left:55px;padding:0;}
#content #order-paytype .sect{padding-bottom:24px;}
#deal-buy .order-check-form{margin-top:12px;border-top:1px solid #44ACAF;padding-top:20px;}
#deal-buy .has-credit{border:none;padding-top:0;}
#deal-buy .order-pay-credit h3{padding:8px 16px;background:#EFF8FF;color:#333;}
#deal-buy .order-pay-credit p{padding:12px 16px;}
#deal-buy .order-pay-credit p strong{color:#c33;}
#deal-buy .order-pay-credit div {padding:5px 16px;}
#deal-buy .order-pay-credit div p{padding:5px 0;}
#deal-buy .order-pay-credit div li{padding-left:20px;}
#deal-buy .order-pay-credit div strong{color:#000;}
#deal-buy .choose-pay-type{padding-left:16px;}
#deal-buy .paytype h2 strong{color:#c00;}
#deal-buy .paytype .check-act{margin-top:32px;padding-left:16px;}
#deal-buy .paytype .typelist{margin-left:16px;}
#deal-buy .paytype .typelist li{clear:both;float:left;margin-top:10px;width:640px;}
#deal-buy .paytype .typelist input{float:left;margin-top:15px;}
#deal-buy .paytype .typelist label{float:left;padding-top:12px;*padding-top:15px;width:420px;padding-left:160px;}
#deal-buy .paytype .typelist .alipay{height:39px;background:url(i/alipay.gif) no-repeat 20px 2px;}
#deal-buy .paytype .typelist .bill{height:39px;background:url(i/99bill.gif) no-repeat 20px 2px;}
#deal-buy .paytype .typelist .chinabank{height:35px;background:url(i/chinabank.gif) no-repeat 20px 3px;*background-position:20px 5px;}
#deal-buy .paytype .typelist .tenpay{height:35px;background:url(i/tenpay.jpg) no-repeat 10px -5px;*background-position:10px -3px;}
#deal-buy .paytype .mobile{margin:10px;}
#deal-buy .paytype .address{padding-left:16px;}
#deal-buy .paytype .address span{color:#666;}
#deal-buy .gotopay{padding:10px 1.5em;font-size:16px;}
#deal-buy .back-to-check{margin-top:20px;}
#order-pay .total-money{color:#c33;}
#order-pay-return .sect{padding:20px 50px 50px;width:auto;}
#order-pay-return h3.mobile{margin:20px 0 10px;font-size:18px;}
#order-pay-return p.mobile .f-text{width:150px;font-size:12px;color:#666;}
#order-pay-return .info{margin-left:32px;font-size:18px;font-weight:bold;}
#order-pay-return .info .delta{color:#c33;}
#order-pay-return .coupon-tip{margin-top:15px;background:#f7f7f7;padding:6px;}
#order-pay-return .coupon-tip-title{margin-top:10px;margin-left:25px;}
#order-pay-return .coupon-tip-title p{color:#666;font-size:12px;}
#order-pay-return .coupon-tip-list{margin-top:10px;padding:15px 25px 5px;background:#fff;}
#order-pay-return .coupon-tip-list h5{font-size:12px;font-weight:normal;color:#666;}
#order-pay-return .coupon-tip-list ol{margin-top:15px;}
#order-pay-return .coupon-tip-list li{margin-bottom:10px;list-style-position:inside;list-style-type:decimal;}
#order-pay-return .coupon-tip-list p{font-size:12px;padding-left:20px;*padding-left:16px;color:#666;}
#order-pay-return .coupon-tip-list a{text-decoration:underline;}
#order-pay-return .invite{width:596px;margin-top:30px;}
#order-pay-return .invite h3{font-size:18px;}
#order-pay-return .invite p{line-height:2;*line-height:1.5;}
#order-pay-return .invite .top{height:17px;background:url(i/bg-pay-return-box.gif) no-repeat 0 0;}
#order-pay-return .invite .content{padding:0 32px;background:#BCDDEE;}
#order-pay-return .invite .bottom{height:17px;background:url(i/bg-pay-return-box.gif) no-repeat 0 -18px;}
#order-pay-return .invite .f-text{width:375px;}
#order-pay-return .invite .formbutton{display:none;*display:inline;}
#order-pay-return .wait{padding:15px 25px;}
#order-pay-return .wait label{display:block;padding-bottom:5px;color:#666;font-weight:bold;}
#order-pay-return .wait p.mobile .f-text{width:185px;}
#order-pay-return .error-tip{margin:30px 0;font-weight:bold;text-align:center;}

#order-pay-dialog .bd{padding:1px;background:#fff;}
#order-pay-dialog h3{height:40px;line-height:40px;padding:0 10px;background:#f1f2ff;text-align:left;}
#order-pay-dialog h3 span{float:right;}
#order-pay-dialog .close{float:right;width:35px;padding-right:20px;background:url(i/bg-newbie-close.gif) no-repeat 100% 50%;*background-position:100% 45%;color:#2f2f2f;cursor:pointer;font-weight:normal;}
#order-pay-dialog .info{margin:20px 15px 20px;min-height:56px;padding-left:70px;background:url(i/bg-sys-icon-info.gif) no-repeat 0 0;font-size:16px;font-family:'黑体',arial,sans-serif;display:block;}
#order-pay-dialog .notice{padding-left:35px; margin:5px 0;}
#order-pay-dialog .notice input{width:180px;}
#order-pay-dialog .act{margin:15px 35px 20px;}
#order-pay-dialog .retry{margin:10px 35px 20px;}
#referrals h3.succlist{margin:0 10px 10px;padding-bottom:5px;border-bottom:1px solid #daeaca;font-size:1.2em;}
#referrals p.notice-total{background:#fffbcc;border:1px solid #ffec19;margin:0 10px 10px;padding:10px;}
#referrals p.notice-total strong{color:#c33;}
#referrals .coupons-table{margin-top:0;}
#referrals .intro{margin:0 10px;}
#referrals .intro strong{color:#c33;}
#referrals .login{margin:10px;font-size:18px;font-weight:bold;}
#referrals .referrals-side .invalid{margin:5px 0 10px;padding-left:15px;color:#666;font-size:12px;}
#referrals .referrals-side .invalid li{list-style-position:outside;list-style-type:disc;}
#referrals .coupons-table th,#referrals .coupons-table td{text-align:center;}
#referrals .finder-form p{margin:5px 0;}
#referrals .finder-form p.commit{margin-top:15px;}
#referrals .finder-form label{display:block;padding-bottom:2px;}
#referrals .finder-form .f-text{width:205px;}
#referrals .finder-form .tip{color:#999;font-size:12px;}
#referrals .finder .invite-success{margin:15px 0 15px 135px;}
#referrals .finder .invite-success h3{font-size:18px;}
#referrals .finder .invite-success p{margin:5px 0 0;color:#666;}
#referrals .finder .contacts{width:auto;padding:20px 70px 50px;}
#referrals .contacts-box{margin:10px 10px 0;}
#referrals .contacts-box h3{margin-bottom:.4em;color:#333;line-height:200%;}
#referrals .contacts-box .hd{border:1px solid #ccc;background:#eee;color:#333;line-height:200%;font-size:12px;}
#referrals .contacts-box .hd input{margin:0 .5em;}
#referrals .contacts-box .bd{height:300px;border:1px solid #ccc;border-top:0;overflow:auto;}
#referrals .contacts-box table{width:100%;*width:95%;border-collapse:collapse;}
#referrals .contacts-box td{padding:5px 0;border-bottom:1px solid #eee;font-size:12px;vertical-align:middle;cursor:pointer;}
#referrals .contacts-box tr.alt{background:#f3f3f3;}
#referrals .contacts-box td.checkbox{width:20px;}
#referrals .contacts-box td.checkbox input{margin:0 .5em;}
#referrals .contacts-box .enter-name{margin-top:15px;line-height:2;}
#referrals .contacts-box .enter-name span{color:#666;}
#referrals .contacts-box .commit{margin-top:10px;}
#referrals .refers .share-list{margin:40px 38px 20px;}
#referrals .refers .share-list .f-text{width:235px;}
#referrals .refers .blk{float:left;margin-bottom:40px;}
#referrals .refers .blk h4{color:#349835;}
#referrals .refers .last{margin-bottom:0;}
#referrals .refers .logo{float:left;_display:inline;margin-right:15px;width:48px;height:48px;border:1px solid #ccc;background-color:#fff;}
#referrals .refers .info{float:left;width:535px;}
#referrals .refers .im .formbutton{visibility:hidden;*visibility:visible;font-size:14px;}
#referrals .refers .deal-info{float:left;margin-top:12px;}
#referrals .refers .pic{float:left;width:150px;}
#referrals .refers .pic img{display:block;}
#referrals .refers .deal-title{float:left;width:237px;padding-left:13px;}
#referrals #deal-share{float:left;margin-top:16px;}
#referrals #deal-share h4{color:#000;font-size:12px;*padding-top:2px;_padding-top:0;}
#referrals #deal-share .deal-share-links{width:370px;padding:5px 10px 5px 25px;background:#EFF8FF;}
#referrals #deal-share.nodeal{margin-top:12px;}

#consult .consult-hd{float:left;width:702px;_display:inline;margin-left:8px;margin-right:16px;}
#consult .consult-bd{float:left;margin-top:25px;}
#consult .deal-info{clear:both;border:2px solid #EE9270;background:#fff;}
#consult .deal-info table{width:100%;}
#consult .deal-info .link{padding:22px 20px 25px 25px;vertical-align:top;}
#consult .deal-info .link h2{margin-top:3px;font-size:22px;}
dd#consult .deal-info .link h2 span{font-family:arial,sans-serif;}
#consult .deal-info .buy{width:235px;vertical-align:middle;padding:25px 0;background:#DEF9F0 url(i/bg-consult-deal-buy.gif) no-repeat 100% 52%;}
#consult .deal-info .buy a{float:right;width:185px;height:85px;text-indent:-9999px;}
#consult .consult-list{padding:10px 23px 18px;width:auto;}
#consult .consult-list .item{margin:0 0 23px 0;padding:10px 22px 20px;}
#consult .consult-list .alt .item{background:#f6f6f6;}
#consult .consult-list .item a{color:#666;}
#consult .consult-list .item a:hover{color:#666;}
#consult .consult-list .user{font-size:12px;color:#999;}
#consult .consult-list .user strong{float:left;width:300px;}
#consult .consult-list .user span{float:right;width:200px;text-align:right;}
#consult .consult-list .text{clear:both;margin-top:8px;}
#consult .consult-list .reply{margin-top:8px;color:#CB3234;}
#consult .consult-form{padding:35px 55px 15px;width:auto;height:152px;}
#consult .consult-form .commit{margin-top:10px;}
#consult .consult-form .f-textarea{width:480px;height:100px;}
#consult .consult-form .succ{display:none;padding:10px 0;}

#maillist .sect{padding:10px 23px 22px;width:auto;height:277px;}
#maillist .enter-address{margin-top:20px;padding:15px 20px 30px;background:#FDFEEE;border:1px solid #F3D3C4;}
#maillist .intro{margin-top:30px;}
#maillist .enter-address-c{float:left;margin-top:22px;font-size:12px;}
#maillist .enter-address-c label{display:block;padding-bottom:5px;}
#maillist .enter-address-c .mail{float:left;width:310px;}
#maillist .enter-address-c .f-mail{width:250px;}
#maillist .enter-address-c .city{float:left;width:300px;}
#maillist .enter-address-c .f-city{width:175px;}
#maillist .enter-address-c .f-cityname{width:175px;}
#maillist .enter-address-c span.tip{display:block;padding-top:5px;color:#7C7A7D;}
#maillist .side-pic p{line-height:1;padding-bottom:10px;}
#maillist .succ{padding:10px 0;}
#maillist .unsubscribe{margin-top:20px;}
#maillist .unsubscribe label{display:block;}
#maillist .welcome-notice{padding:0;}
#maillist .welcome-title{color:#c33;font-size:16px;font-weight:bold;}
#maillist .recent-title{margin-top:25px;}
#maillist .recent-title h2{font-size:2em;}
#maillist .welcome .sect{height:auto;}
#maillist .welcome .deals-list{margin-top:15px;}
#maillist .welcome .deals-list li{clear:both;}
#maillist .welcome .deals-list li.last{padding-top:30px;zoom:1;}
#maillist .welcome .pic{float:left;width:215px;margin-right:18px;_display:inline;}
#maillist .welcome .info{float:left;width:410px;}
#maillist .welcome .price{margin-top:10px;*margin-top:6px;padding:5px 15px;background:#E1F4FA;font-size:12px;}
#maillist .welcome .price strong{font-size:14px;}
#maillist .welcome .price strong.count{font-size:16px;}
#maillist .welcome .price strong.count .number{font-size:20px;color:#c33;}
#maillist .welcome .detail{margin-top:8px;color:#666;font-size:12px;}
#recent-deals .sect{width:auto;padding:20px 20px 40px;}
#recent-deals .deals-list li{float:left;width:318px;height:228px;border-bottom:1px dashed #ccc;border-right:1px dashed #ccc;}
#recent-deals .deals-list li.first{height:213px;}
#recent-deals .deals-list li.alt{padding-left:20px;border-right:none;}
#recent-deals .deals-list .time{margin-top:15px;font-size:12px;font-weight:bold;color:#000;}
#recent-deals .deals-list .first .time{margin-top:0;}
#recent-deals .deals-list h4{margin-top:5px;height:42px;padding-right:10px;font-weight:normal;}
#recent-deals .deals-list h4 a{color:#666;}
#recent-deals .pic{position:relative;z-index:1;float:left;width:200px;height:121px;margin:8px 0 20px;_display:inline;}
#recent-deals .pic .soldout{position:absolute;z-index:1;right:0;bottom:0;_bottom:-1px;width:122px;height:69px;background:url(i/bg-deals-default-soldout.png) no-repeat 0 0;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../static/theme/YellowUMZZ/css/i/bg-deals-default-soldout.png');}
#recent-deals .pic .soldoutlink{display:block;position:absolute;z-index:2;right:0;bottom:0;width:122px;height:69px;outline:0;text-indent:-999em;}
#recent-deals .pic .isopen{position:absolute;z-index:1;right:-13px;bottom:-7px;width:65px;height:65px;background:url(i/bg-deals-default-isopen.png) no-repeat 0 0;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../static/theme/YellowUMZZ/css/i/bg-deals-default-isopen.png');}
#recent-deals .pic .isopenlink{display:block;position:absolute;z-index:2;right:-13px;bottom:-7px;width:65px;height:65px;outline:0;text-indent:-999em;}
#recent-deals .pic img{display:block;}
#recent-deals .info{float:left;padding-top:5px;padding-left:15px;width:100px;color:#666;font-size:12px;}
#recent-deals .total strong{color:#c33;font-size:20px;}
#recent-deals .price{margin-top:10px;*margin-top:6px;font-size:12px;line-height:1.5;}
#recent-deals .price strong{color:#000;font-size:14px;font-weight:bold;}
#recent-deals .price strong.discount{font-size:14px;font-weight:bold;color:#c33;}
#recent-deals .price strong.old{text-decoration:line-through;}
#recent-deals .detail{margin-top:8px;color:#666;font-size:12px;}
#recent-deals .deal-subscribe{margin-top:0;}

#verify-coupon-id { cursor: pointer; }

/* order view detail */
#order-detail .sect{padding:26px 20px 50px;width:auto;}
#order-detail .data-table th,#order-detail .data-table td{padding:8px 0 8px 10px;vertical-align:top;}
#order-detail .data-table th{width:75px;padding-left:15px;}
#order-detail .data-table td{padding-left:0;color:#666;}
#order-detail .data-table td.orderid{padding-right:5px;color:#c33;}
#order-detail .data-table .other-coupon{color:#c33;}
#order-detail .info-table{margin:13px 0 28px;width:100%;}
#order-detail .info-table th,#order-detail .info-table td{padding:7px 10px;text-align:center;}
#order-detail .info-table th{background:#e6f9fa;border-bottom:3px solid #fff;}
#order-detail .info-table td{background:#f6f6f6;}
#order-detail .info-table .left{padding-left:15px;text-align:left;}
#order-detail .info-table .total{color:#c33;}
#order-detail .info-table .status{color:#c33;}

/* account charge */
#account-charge .charge{margin:0 10px;}
#account-charge .number{margin-top:10px;}
#account-charge .number .f-text{width:150px;}
#account-charge .tip{height:20px;color:#349835;}
#account-charge .choose{padding-top:5px;}
#account-charge .choose-pay-type{padding-left:0;}
#account-charge .typelist{margin-left:0;}
#account-charge .typelist li{clear:both;float:left;margin-top:10px;width:640px;}
#account-charge .typelist input{float:left;margin-top:15px;}
#account-charge .typelist label{float:left;padding-top:12px;*padding-top:15px;width:420px;padding-left:160px;}
#account-charge .typelist .alipay{height:39px;background:url(i/alipay.gif) no-repeat 20px 2px;}
#account-charge .typelist .bill{height:39px;background:url(i/99bill.gif) no-repeat 20px 2px;}
#account-charge .typelist .tenpay{height:39px;background:url(i/tenpay.jpg) no-repeat 20px -1px;}
#account-charge .typelist .chinabank{height:35px;background:url(i/chinabank.gif) no-repeat 20px 3px;*background-position:20px 5px;}
#account-charge .commit{margin-top:30px;}

/* image rotate */
#team_images {width:440px;margin-bottom:0px;height:280px; overflow:hidden;}
#team_images ul{list-style:none;}
#team_images a{outline:none; cursor:pointer;}
#team_images .mid{ width:440px;padding:0;position:relative;}
#team_images .mid ul{width:440px;height:280px;position:relative;overflow:hidden;}
#team_images .mid ul li{width:440px;height:280px; position:absolute;left:440px;top:0;}
#team_images .mid ul .first{left:0;}
#team_images #img_list{position:absolute; right:10px; bottom:10px;}
#team_images #img_list a{display:block; float:left; margin:2px 0 0 4px; border:solid 1px #333; line-height:20px; padding:0 5px; background:#fff; color:#000;}
#team_images #img_list a.active{line-height:24px; padding:0 7px; border-color:#ff6600; font-weight:bold; margin-top:0; color:#ff6600;}
/* end */


/*dialog*/
#dialog {position:absolute;z-index:9999;border:4px solid #CCC;display:none;}
#pagemarker { position:absolute; left:0; top:0; background-color:#FFF; opacity:;filter:alpha(opacity=0); opacity:0; z-index:1; }
/*end*/

/*validator*/
span.errorTip{ margin-left:4px; font-size:12px; color:#C00;}
div.errorTip { font-size:12px; color:#C00; }
div.validTip, span.validTip{ font-size:12px; display:none; } 
span.require { color:#C00; font-weight:bold; }
.noerror .errorTip, .noerror .validTip { display: none; } 
.errorInput{ background-color:#FFCC33; } 

/* vote */
#user-vote .welcome{margin:0 10px 10px;}
#user-vote .vote-list{margin:0 10px 0 10px;}
#user-vote .vote-list li{margin:0 0 10px 0;padding:0 0 10px 0;border-bottom:1px solid #f1f1f1;}
#user-vote .vote-list li .choices{margin:5px 0 0 13px;line-height:2;color:#333;}
#user-vote .vote-list li .text{padding:0 12px 0 3px;*padding-right:7px;}
#user-vote .vote-list li .f-text{width:250px;}
#user-vote .vote-list .other{padding-left:17px;*padding-left:23px;}
#user-vote .vote-list .disabled{background:#f1f1f1;}
#user-vote .input-table td{padding:5px 2px 5px 0;}
#user-vote .input-table td.label{text-align:right;}
#user-vote .input-table td.label span{color:red;}
#user-vote .commit{margin:15px 10px;}
#user-vote .post-success{margin:15px 10px;}

/* paypal */
#help .faq .paytype .paypal{height:39px;background:url(i/paypal.gif) no-repeat 0 2px;}
#deal-buy .paytype .typelist .paypal{height:39px;background:url(i/paypal.gif) no-repeat 20px 2px;}
#account-charge .typelist .paypal{height:39px;background:url(i/paypal.gif) no-repeat 20px 2px;}

/* sms */
a.sms { cursor:pointer; font-size:12px; color:#FF4E00}

/* money save */
#recent-deals .deals-list li { height:auto; padding-bottom:15px;}
#recent-deals .deals-list li.first { height:auto; padding-bottom:15px;}
#info_a { color:#666666; font-size:12px; padding-right:25px; text-align:right; width:293px; margin-top:-10px; clear:both;}
#info_a strong { color:#CC3333; font-size:20px; }

/* teambuy express */
div.expresstip { margin:0px 10px;background-color:#ECECEC;padding:5px; }

/* team_summary */
.deal-detail-t{ margin-top:0px; color:#333333}
.deal-detail-t li.col{line-height:22px; float:left; font-size:12px;_display:inline;}
.deal-detail-t li.col h2{font-size:16px; margin:10px 0px 6px;font-weight:bold;}
.deal-detail-t li.first{ width:207px;margin-left:13px; padding-right:10px;}
.deal-detail-t .highlight{ padding-left:15px;}
.deal-detail-t .highlight li{list-style-position:outside;list-style-type:disc}

/* side map */
#side-business .mapbody{border:1px solid #cdcdcd;zoom:1;}
#side-business .map a{display:block;}
#side-business .map img{display:block;}
#side-business .map .link{height:29px;line-height:29px;background:url(i/bg-side-business-map.png) repeat-x 0 0;padding-left:70px;font-size:12px;color:#000;}
#deal-stuff h2{font-size:16px;}

/* paybank */
#paybank{ margin-left: 16px; }
#paybank p{ width: 180px; height:20px; float:left ; margin:15px 0px 10px 0px;}
#paybank p input{ float:left; margin-top: 15px; }
#paybank p label{ float:left; height:25px; margin-top:15px; padding-left:150px; }
#paybank p .cmb{ background:url(i/icon_zsyh_s.gif) no-repeat 10px 0px; }
#paybank p .icbc{ background:url(i/icon_zggsyh_s.gif) no-repeat 10px 0px; }
#paybank p .ccb{ background:url(i/icon_ccb_s.gif) no-repeat 10px 0px; } 
#paybank p .abc{ background:url(i/icon_abc_s.gif) no-repeat 10px 0px; }
#paybank p .spdb{ background:url(i/icon_spdb_s.gif) no-repeat 10px 0px; }
#paybank p .bofc{ background:url(i/icon_bofc_s.gif) no-repeat 10px 0px; }
#paybank p .citic{ background:url(i/icon_itic_s.gif) no-repeat 10px 0px;}
#paybank p .cib{ background:url(i/icon_cib_s.gif) no-repeat 10px 0px; }
#paybank p .gdb{ background:url(i/icon_gdb_s.gif) no-repeat 10px 0px; }
#paybank p .sdb{ background:url(i/icon_sdb_s.gif) no-repeat 10px 0px; }
#paybank p .cebb{ background:url(i/icon_cebb_s.gif) no-repeat 10px 0px; }
#paybank p .bob{ background:url(i/icon_bob_s.gif) no-repeat 10px 0px; }
#paybank p .pingan{ background:url(i/icon_pingan_s.gif) no-repeat 10px 0px; }
#paybank p .cmbc{ background:url(i/icon_cmbc_s.gif) no-repeat 10px 0px; }
#paybank p .comm{ background:url(i/icon_comm_s.gif) no-repeat 10px 0px; }
/* End */

/* side_team */
#sidebar .today-deal h2{padding-bottom:6px;}
#sidebar .today-deal h4{padding-bottom:8px;}
#sidebar .today-deal .info{background:#fff;}
#sidebar .today-deal .total{padding:8px 10px 0;font-weight:bold;}
#sidebar .today-deal .old{text-decoration:line-through;}
#sidebar .today-deal .price{padding:8px 10px;color:#666;}
#sidebar .today-deal .price strong{display:-moz-inline-stack;display:inline-block;vertical-align:top;*margin-top:-1px;width:48px;height:20px;color:#000;}
#sidebar .today-deal .count,#sidebar .today-deal strong.discount{color:#c33;}
#sidebar .today-deal .buy{padding:10px 8px 0;}
#sidebar .today-deal .buy img{display:block;}
/* side_team EDN */



.pageclass{padding:10px 0 10px;white-space:nowrap;text-align:right;font-size:12px; background-color:#FFFFFF; }
.pageclass li{display:inline;margin:0 1px;*vertical-align:middle;}
.pageclass li.current{*height:24px;margin:0 6px;font-weight:bold;*line-height:24px;}
.pageclass li a{*display:inline-block;*height:22px;padding:3px 6px 4px;*padding:0 6px;border:1px solid #bbb;text-decoration:none;*line-height:22px;*position:relative;}
.pageclass li a:hover{*height:24px;padding:4px 7px 5px;*padding:0 7px;border:none;*line-height:24px;background:#00ADB2;color:#fff;text-decoration:none;}
.pageclass li a.nolink{color:#ccc;cursor:default;}
.pageclass li a.nolink:hover{background:transparent;*height:22px;padding:3px 6px 4px;*padding:0 6px;border:1px solid #ccc;*line-height:22px;}